# https://github.com/VoronDesign/Voron-Hardware/blob/master/Klipper_Expander/Software/klipperExpander.cfg
# https://github.com/Rushmere3D/Voron-0.2/blob/main/Config/klipperExpander.cfg

[mcu expander]
serial: /dev/serial/by-id/usb-Klipper_stm32f042x6_090004801443303054313620-if00
restart_method: command

[fan_generic Nevermore]
pin: expander:PA0
cycle_time: 0.010
max_power: 1.0
kick_start_time: 0.5                                                 # Depending on your fan, you may need to increase this value if your fan will not start
off_below: 0.13
cycle_time: 0.010

#max_power:
#shutdown_speed:
#cycle_time:
#hardware_pwm:
#kick_start_time:
#off_below:
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.

#[output_pin nevermore]
#pin: expander:PA0
#pwm: true
#cycle_time: 0.010
#value: 0
#shutdown_value: 0

[output_pin caselights]
pin: expander:PA1
pwm: true
cycle_time: 0.010
value: 0
shutdown_value: 0

#[output_pin mosfet0]
#pin: expander:PA0
#pwm: true
#cycle_time: 0.010
#value: 0
#shutdown_value: 0

#[output_pin mosfet1]
#pin: expander:PA1
#pwm: true
#cycle_time: 0.010
#value: 0
#shutdown_value: 0

#[output_pin mosfet2]
#pin: expander:PA2
#pwm: true
#cycle_time: 0.010
#value: 0
#shutdown_value: 0

#[output_pin mosfet3]
#pin: expander:PA3
#pwm: true
#cycle_time: 0.010
#value: 0
#shutdown_value: 0

# Status LED lights when klipper connects 
[static_digital_output onboardLED]
pins: !expander:PA4

#[neopixel expanderPixel]
#pin: expander:PB1
#chain_count: 1
#initial_RED: 0.9
#initial_GREEN: 0.3
#initial_BLUE: 0.0

#[servo brush_servo]
#pin: expander:PB1
#   PWM output pin controlling the servo. This parameter must be
#   provided.
#maximum_servo_angle: 180
#   The maximum angle (in degrees) that this servo can be set to. The
#   default is 180 degrees.
#minimum_pulse_width: 0.0005
#   The minimum pulse width time (in seconds). This should correspond
#   with an angle of 0 degrees. The default is 0.001 seconds.
#maximum_pulse_width: 0.001575
#   The maximum pulse width time (in seconds). This should correspond
#   with an angle of maximum_servo_angle. The default is 0.002
#   seconds.
#initial_angle: 5
#   Initial angle (in degrees) to set the servo to. The default is to
#   not send any signal at startup.


# Other Pins
# T0 = PA6
# T1 = PA5
# GPIO = PA7



